.empty-cart-wrapper {
  margin: 2rem 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.empty-cart-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
}

.heading {
  display: inline;
}

.empty-cart-body {
  padding: 2rem;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.cart-img {
  display: block;
  margin: auto;
  padding: 1rem 4rem;
  max-width: 35rem;
}

.cart-img > .cart-empty-img {
  width: 100%;
}

.cart-desc {
  font-size: medium;
  margin: 1rem;
}

.cart-msg {
  font-size: small;
  color: var(--color-text-grey);
  margin: 1rem;
}

.shop-now-btn {
  padding: 0.5rem 1rem;
  font-size: medium;
  border-radius: 0.1rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  text-decoration: none;
}

.cart-details-header {
  padding: 1rem;
  border-bottom: 2px solid #f0f0f0;
}

.header-details {
  display: inline;
  padding: 1rem;
}

/* .update-address-btn {
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  color: var(--color-primary);
  background-color: white;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid var(--color-primary);
} */

.cart-items {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  gap: 0.5rem;
}

@media screen and (max-width: 768px) {
  .cart-container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    gap: 0.1rem;
    width: 100%;
  }

  .non-empty-cart-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    gap: 0.5rem;
    margin: 1rem 0;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 0.2);
  }
}

@media screen and (min-width: 768px) {
  .cart-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.1rem;
  }

  .non-empty-cart-body {
    margin: 1rem 0 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    gap: 0.5rem;
    width: 70rem;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 0.2);
  }
}
