.features {
  font-size: medium;
}

.card-img {
  display: block;
  margin: auto;
  position: relative;
  margin-bottom: 0.5rem;
}

.card-img > .card-photo {
  width: 80%;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  width: 17rem;
  gap: 0.5rem;
}

.card-main-heading {
  font-weight: 600;
}

.card-container:hover > .card-main-heading {
  color: var(--color-primary);
}

.card-container:hover {
  box-shadow: 1px 1px 5px rgb(0 0 0 / 0.2);
}

.discount {
  color: var(--color-green);
  font-size: small;
  font-weight: bold;
}

.unavailable {
  color: var(--color-text-grey);
  font-size: small;
  font-weight: bold;
}

.strike-price {
  text-decoration: line-through;
  margin: 0 1rem;
  color: var(--color-text-grey);
}
