@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --color-primary: #2874f0;
  --color-yellow: #ff9f00;
  --color-orange: #fb641b;
  --color-green: #388e3c;
  --color-red: #ff6161;
  --color-light-black: #172337;
  --color-white: #ffffff;
  --color-text-grey: #878787;
  --color-bg-grey: #e0e0e0;
  --color-blue: #007fff;
  --color-light: #e2edf8;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
