.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .main-header-item > .hero-img {
    width: 80%;
    display: none;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .main-header-item > .hero-img {
    width: 80%;
    display: block;
    margin: auto;
  }
}

.main-header-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.hero-heading {
  color: var(--color-primary);
  font-weight: bold;
  padding: 1rem;
}

.main-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.section {
  text-decoration: none;
  width: 20rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.section > .section-photo {
  width: 100%;
  display: block;
  margin: auto;
}

.section-desc {
  padding: 0.2rem;
  font-weight: 600;
  color: var(--color-light-black);
}

.section-offer {
  padding: 0.2rem;
  font-weight: bold;
  font-size: small;
  color: var(--color-green);
}
